{%extends "main/base.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href={%static "main/css/login.css"%}>
	
	<title>Login-Page</title>
</head>
<body>
	<div >
		{% block content %}
{% if user.is_authenticated %}

			<h1>You are already loged in as {{user}} log out first</h1>
			{%else%}
			<form method="POST" class="main" action = "/handleLogin" > 
				{% csrf_token %}
				<label>UserName</label>
				<input name = "loginUsername" type = "text"/>
				<label>Password</label>
				<input name = "loginPassword" type = "password">
				<p>If you do not have a account sign up <a href="register">Register Here</a></p>
				<button type = "submit">Login</button> 
				
			</form>
			{% endif %}			
			{% endblock content %}
	</div>
	
</body>
</html>