<!DOCTYPE html>
{%extends "main/base.html" %}
{% load static %}
{% block content %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href={%static "main/css/login.css"%}>

	<title>Register User</title>

</head>
<body>
	<div>
		<form action = "handleSignUp" method="POST" class = "main">
			{%csrf_token%}
				<label>userName</label>
				<input type="text" name = "username" required>
			<label>First Name </label>
			<input name = "first-name" type="text" required>
			<label>Last Name </label>
			<input name = "last-name" type="text" required>
			<label>Email</label>
			<input name = "email" type="email" required>
			<label>password</label>
			<input name="password" type="password" required>
			<label>password again</label>
			<input type="password" name="password2" id="password" required>
			<button type="submit">submit</button>
		</form>



	</div>
	{% endblock content %}
	
</body>
</html>